.projects-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.projects-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.projects-cards {
    padding: 20px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card1 {
    background-image: url('../../Assets/spaceinvaders.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 50px;
}

#card2 {
    background-image: url('../../Assets/movietracker.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    padding: 10rem 0 0;
    width: 345px;
    height: 450px;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover, card:focus-within {
    transform: scale(1.1);
}

.card-body {
    padding: 1.5rem;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.75), 
        hsl(0 0% 0% / 1)
    );

    transform: translateY(60%);
    transition: transform 500ms ease; 
}

#card1 .card-body {
    margin-top: 29%;
}

#card2 .card-body {
    margin-top: 33%;
}

.card:hover .card-body, .card:focus-within .card-body {
    transform: translateY(0);
}

.card-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-buttons {
    margin-top: 10px;
}

.card-button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--gradient-text);
    background-color: rgba(0, 40, 83, 2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
