.scroll-container {
    width: 100%;
    text-align: center;
}

.scroll-button {
    position: fixed;
    top: 95%;
    font-size: 40px;
}

.scroll-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .scroll-button {
        font-size: 25px;
        top: 95%;
    }

    .scroll-container {
        text-align: left;
        margin-left: 10px;
    }
}