.navbar{
    display: flex;
    font-size: 35px;
    background-color: var(--gradient-bar);
}

.navbar a{
    padding: 18px 50px 18px 50px;
    text-decoration: none;
    color: var(--color-text);
}

.navbar img{
    width: 80px;
}