.navbar{
    display: flex;
    height: 100vh;
    width: 5%;
    flex-wrap: wrap;
    text-align: center;
    font-size: 35px;
    background-color:#303136;
}

.navbar a{
    text-decoration: none;
    color: var(--color-secondary);
    width: 100%;
}

.navbar img{
    width: 100%;
}

@media only screen and (max-width: 768px) {

}