* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    color: var(--color-secondary);
    background-color: var(--color-bg);
    font-family: var(--font-family);
}

.app {
  display: flex;
}