@font-face {
  font-family: century-gothic;
  src: url(Assets/gothic.TTF);
}

:root{
  --font-family: century-gothic, sans-serif; 
  --color-primary: #00fcfc;
  --color-secondary: #009797;
  --color-bg: #1a1a1a;
}