@font-face {
  font-family: century-gothic;
  src: url(Assets/gothic.TTF);
}

:root{
  --font-family: century-gothic, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-text: #81AFDD;
}